# CARD MRI Micro-Recruitment Portal Configuration example
GEMINI_API_KEY=

# Aiven PostgreSQL connection string
DATABASE_URL=postgres://USERNAME:PASSWORD@HOST.aivencloud.com:PORT/defaultdb?sslmode=require
